<script id="articles-template" type="text/x-handlebars-template">
  <ul class="article-links">
    {{#each this}}
      <li data-id="{{id}}">{{title}}</li>
    {{/each}}
  </ul>
</script>

<script id="article-template" type="text/x-handlebars-template">
  <article>
    <header>
      <h1>{{title}}</h1>
    </header>
    <p>{{body}}</p>
    <footer>
      <p>{{niceDate created_at}}</p>
      <p class="articles-path">All articles</p>
    </footer>
  </article>
</script>

<section id="output"></section>